.root {
  width: 100%;
  padding: 1rem 15%;
  object-fit: cover;
  // background-color: #315659;
  background: url(https://images.unsplash.com/photo-1620641788421-7a1c342ea42e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80) center / cover fixed;
  form {
    display: flex;
    justify-content: center;
    label {
      padding: 1px;
      color: #fff;
      margin: 10px 20px;
      span {
        margin: 10px 0;
        font-size: 20px;
      }
      input {
        border-radius: 20px;
        border: none;
        background-color: #93E1D8;
        margin: 10px 0;
        font-size: 20px;
        padding: .5rem;
      }
      #count {
        width: 70px;
      }
    }

  }

  .categoryes {
    width: 100%;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0;
    background-color: rgba(0, 0, 0, 0.721);

    .category {
      padding: 1rem 0;
      text-align: center;
      transition: all .3s ease-in;
      cursor: pointer;
    }

    .activeCategory {
      -moz-box-shadow: inset 0 -15px 15px -15px #fff;
      -webkit-box-shadow: inset 0 -15px 15px -15px #fff;
      box-shadow: inset 0 -15px 15px -15px #fff;
      border-bottom: 3px solid #fff;
      text-align: center;
      padding: 1rem 0;
    }
  }

  .productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
}