.root {
  width: calc((100% / 3) - 20px);
  aspect-ratio: 1 / 1.1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 2px 15px -3px rgb(0 0 0 / 7%), 0 10px 20px -2px rgb(0 0 0 / 4%);

  .imgContainer {
    width: 100%;
    height: 70%;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    background-repeat: no-repeat;
    // background-size: cover;
    background-position: 50%;
    background-color: #fff;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      transition: all .3s linear;
      z-index: 2;
      transform: scale(0.85);
      &:hover {
        transform: scale(0.9) !important;
      } 
    }
  }

  .cardBody {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5rem;
    span {
      margin: 10px 0;
    }
    div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      h6 {
        margin: .5rem;
        font-size: 20px;
      }
    }
  }
}