.root {
  h2 {
    font-size: 20px;
    color: #fff;
    margin: 20px 0;
    font-weight: 500;
  }
  .swiper {
    width: 100%;
    position: relative;
    .card {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      img {
        width: 100%;
        border-radius: 4px;
      }
      p {
        color: #fff;
        text-align: center;
        font-size: 14px;
        margin: 10px 0;
      }
    }
    .next {
      position: absolute;
      top: 35%;
      left: 10px;
      z-index: 20;
      padding: 10px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .prev {
      position: absolute;
      top: 35%;
      right: 10px;
      z-index: 20;
      padding: 10px;
      background: #fff;
      border-radius: 50%;
      cursor: pointer;
      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (max-width: 350px) {
  .root {
    .swiper {
      .card {
        p {
          font-size: 12px;
        }
      }
    }
  }
}