$headerBg: rgb(0, 159, 45); // #93e1d8
$titleFontSize: 20px;
.root {
  width: 100%;
  position: relative;
  margin: 40px 0;
  border-radius: .5rem;
  overflow: hidden;
  box-sizing: border-box;
  padding: 40px 15%;
  .listHeader {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 1.5rem 1rem;
    background-color: $headerBg;
    font-size: $titleFontSize;
    color: #fff;
  }
  .listBody {
    .singleProduct:nth-child(odd) {
      background-color: rgb(212, 212, 212);
    }
    .singleProduct:nth-child(even) {
      background-color: #fff;
    }
    .singleProduct {
      width: 100%;
      padding: 1rem;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      background-color: rgb(255, 255, 255);
    }
    .visitorsContainer {
      padding: 1.5rem 1rem;
      background-color: $headerBg;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      font-size: $titleFontSize;
      color: #fff;
    }
  }
  .listFooter {
    width: 100%;
    text-align: right;
    background-color: $headerBg;
    font-size: 1.5rem;
    color: #fff;
    padding: 1.5rem 1rem;
  }
}