.root {
  width: 100%;
  height: 100%;
  background: #efefef;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  svg {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .container {
    display: flex;
    flex-direction: column;
    width: 1300px;
    margin: 0 auto;
    height: auto;
    background: #fff;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    h1 {
      font-size: 25px;
      font-weight: 400;
      margin: 0 20px;
      margin-top: 10px;
    }
    h2 {
      font-size: 20px;
      font-weight: 400;
      margin: 10px 20px;
    }
    .formContainer {
      padding: 20px;
    }
    .productsContainer {
      padding: 20px;
      height: 50vh;
      overflow: auto;
      border-bottom: 1px solid gainsboro;
    }
    .roomsContainer {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 20px;
      button {
        padding: 10px;
        border-radius: 6px;
        font-size: 16px;
        color: #fff;
        background: #7a5acc;
        border: none;
        cursor: pointer;
        &:active {
          background: blue;
        }
      }
    }
    .startBtn {
      margin: 20px;
      padding: 15px;
      border-radius: 6px;
      font-size: 18px;
      color: #fff;
      background: #7a5acc;
      border: none;
      cursor: pointer;
      &:active {
        background: blue;
      }
    }
  }
}

.productNavigation {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 20px;
  h2 {
    padding: 15px;
    border-bottom: 2px solid #efefef;
    text-align: center;
    margin: 0 !important;
    cursor: pointer;
  }
}