.root {
  display: flex;
  height: 100%;
  flex-direction: column;
  .container {
    width: 100%;
    overflow-x: auto;
    padding: 20px;
    h1 {
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 20px;
    }
  }
  .btnContainer {
    margin-top: auto;
    padding: 20px;
    background: #fff;
    border-top: 1px solid gainsboro;
    padding: 20px;
    button {
      width: 100%;
      padding: 15px;
      border-radius: 6px;
      background: #7a5acc;
      color: #fff;
      font-size: 18px;
      border: none;
      cursor: pointer;
      &:active {
        background: #4800ff;
      }
    }
  }
}

.productCardsPageSkeleton {
  padding: 20px;

  div:nth-child(1) {
    width: 200px;
    padding: 10px;
    height: 10px;
    background: #e1e9ee;
  }
}