.root {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #fff;
  ::-webkit-scrollbar {
    width: 5px !important;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 6px !important;
    background: #000 !important;
  }
  .navbar {
    width: 25%;
    background: #f8f8fa;
    display: flex;
    flex-direction: column;
    .header  {
      margin: 10px;
      padding: 15px;
      display: flex;
      align-items: center;
      background: #fff;
      border-radius: 6px;
      transition: 200ms;
      box-shadow: 0 0 10px gainsboro;
      img {
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 50%;
        transition: 200ms;
        &:hover {
          transform: scale(1.1);
        }
      }
      p {
        margin-left: 10px;
      }
    }
    .nav {
      nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        margin: 10px;
        a {
          text-decoration: none;
          padding: 10px;
          background-color: #fff;
          border-radius: 30px;
          font-size: 18px;
          color: #000;
          text-align: center;
          transition: 200ms;
          &:hover {
            box-shadow: 0 0 5px gainsboro;
          }
        }
      }
    }
    .reportsContainer {
      display: flex;
      flex-direction: column;
      height: 100%;
      h1 {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid gainsboro;
        margin-bottom: 10px
      }
      .reports {
        overflow: auto;
        padding: 10px;
        height: 75vh;
        div {
          padding: 30px 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #fff;
          margin-bottom: 10px;
          border-radius: 6px;
          transition: 200ms;
          box-shadow: 0 0 5px gainsboro;
          cursor: pointer;
          &:hover {
            background: #7a5acc;
            color: #fff;
          }
          h2 {
            font-size: 16px;
            font-weight: 400;
          }
          h5 {
            font-size: 16px;
            font-weight: 400;
          }
        }
      }
    }
  }
  .container {
    width: 75%;
    overflow: auto;
  }
}