.deleteBtn {
  width: 150px;
  margin: 8px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: red;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #e62222;
  transition: 200ms;

  span {
    transition: 200ms;
  }
  .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }
  .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    width: 15px;
    fill: #eee;
  }

  &:hover {
    background: #ff3636;
  }
  &:hover .text {
    color: transparent;
  }
  &:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }
  &:active .icon svg {
    transform: scale(0.8);
  }
  &:focus {
    outline: none;
  }
}

.editBtn {
  width: 150px;
  height: 50px;
  margin: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #355691;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  background: #355691;
  transition: 200ms;

  span {
    transition: 200ms;
  }

  .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
  }

  .icon {
    position: absolute;
    border-left: 1px solid #355691;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    width: 15px;
    fill: #eee;
  }

  &:hover {
    background: #355691;
  }

  &:hover .text {
    color: transparent;
  }

  &:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
  }

  &:active .icon svg {
    transform: scale(0.8);
  }

  &:focus {
    outline: none;
  }
}