::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #000;
}

.root {
  background: #fff;
  background: url(https://img.freepik.com/free-vector/pastel-ombre-background-in-pink-and-purple_53876-120750.jpg?w=2000) center / cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  nav {
    width: 1300px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a690e0;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: -10px;
      left: 00px;
      background-color: #a690e0;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
    }
    ul {
      list-style: none;
      display: flex;
      li {
        margin: 10px;
        padding: 1rem 10px;
        font-size: 19px;
        text-transform: uppercase;
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
    button {
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      color: #fff;
      background: #7a5acc;
      border-radius: 10px;
      cursor: pointer;
      &:active {
        background: blue;
      }

    }
  }
  .container {
    width: 1300px;
    min-height: 100vh;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
    background-color: #fff;

    h2 {
      margin: 40px 0;
      margin-bottom: 10px;
    }
    
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 40px 0px 20px;
      &:nth-child(1) {
        margin: 20px 0;
      }

      h1 {
        font-size: 25px;
        font-weight: 500;
      }
      button {
        padding: 15px;
        font-size: 16px;
        border-radius: 6px;
        color: #fff;
        background: #7a5acc;
        border: none;
        margin: 0 5px;
        transition: all .1s ease;
        cursor: pointer;
        &:active {
          background-color: #654aa7;
        }
      }
    }

    .workersContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      margin: 30px 0;
      .card {
        padding: 15px;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);
        .userInfo {
          display: flex; 
          align-items: center;
          p {
            margin-left: 10px;
            font-size: 24px;
          }
          img {
              width: 100px;
              height: 100px;
              border-radius: 50%;
              object-fit: cover;
            }
        }

        p {
          margin-left: 10px;
        }
        .btnContainer {
          margin-left: auto;
          button {
            padding: 15px;
            font-size: 16px;
            border-radius: 6px;
            color: #fff;
            background: #7a5acc;
            border: none;
            margin: 0 5px;
            transition: all .1s ease;
            box-shadow: 0px 5px 0px #a690e0;
            cursor: pointer;
            &:nth-last-child(1) {
              background-color: #ff0101;
              box-shadow: 0px 5px 0px #cb4d4dba;
              &:active {
                background-color: #b62020;
                box-shadow: 0px 0px 0px;
                transform: translateY(5px);
              }
            }

            &:active {
              background-color: #654aa7;
              box-shadow: 0px 0px 0px;
              transform: translateY(5px);
            }
          }
        }
      }
    }
  }
  .roomContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    overflow: auto;
    padding: 10px;
      button {
        width: 100%;
        padding: 15px;
        border-radius: 6px;
        background: #ff0101;
        color: #fff;
        font-size: 18px;
        border: none;
        cursor: pointer;
    
        &:active {
          background: #b11616;
        }
      }
  }
  .productsContainer {
    margin-top: 10px;
  }

}