.root {
  width: 1300px;
  margin: 0 auto;
  padding: 15px 0;
  nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    :nth-child(1) {
      display: flex;
      align-items: center;
      h2 {
        text-transform: uppercase;
        font-weight: 500;
        span {
          color: red;
        }
      }
      a {
        margin: 0 20px;
        text-decoration: none;
        color: #96959a;
      }
    }
    :nth-child(2) {
      display: flex;
      align-items: center;
      .search {
        display: flex;
        align-items: center;
        cursor: pointer;
        span {
          margin-left: 10px;
        }
      }
      div {
        margin-left: 10px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          color: gray;
          cursor: pointer;
          &:hover {
            color: #fff;
          }
          svg {
            width: 20px;
            height: 20px;
            margin-left: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 1320px) {
  .root {
    width: 96%;
  }
}

@media (max-width: 650px) {
  .root {
    nav {
      a {
        display: none !important;
      }
      :nth-child(2) {
        .search {
          display: none;
        }
      }
    }
  }
}

