.root {
  padding-bottom: 50px;
  .backShadow {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: linear-gradient(0deg, #060606, rgba(0, 0, 0, .842) 35%, rgba(83, 100, 141, 0));
  }
  .previous {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
      color: #fff;
      width: 50px;
      height: 50px;
      margin: 10px;
      cursor: pointer;

    }
  }
  .container {
    width: 1300px;
    margin: 0 auto;
    position: relative;
    .movieInfo {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .image {
        width: 30%;
        margin-right: 20px;
        
        img {
          width: 350px;
        }
      }
      .info {
        width: 70%;
        color: #fff;
        display: flex;
        flex-direction: column;
        p {
          line-height: 30px;
          margin: 10px 0;
        }
        .buttonsContainer {
          width: 100%;
          margin: 10px 0;
          display: flex;
          button {
            width: 150px;
            padding: 15px;
            font-size: 16px;
            color: #fff;
            background: #7a5acc;
            border-radius: 30px;
            outline: none;
            border: none;
            cursor: pointer;
            transition: 300ms;
            &:active {
              background: blue;
            }
          }
          :nth-child(1) {
            margin-right: 10px;
          }
        }
      }
    }
  }
}

.movieInfoBarHidden {
  color: #fff;
  width: 100%;
  h1 {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }

  .genres {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-gap: 10px;

    h4 {
      font-weight: 400;
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 30px;
      text-align: center;
      transition: 300ms;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}
.movieInfoBar {
  color: #fff;
  width: 100%;
  display: none;
  h1 {
    font-weight: 500;
    font-size: 40px;
    text-align: center;
  }

  h2 {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }

  .genres {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-gap: 10px;

    h4 {
      font-weight: 400;
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 30px;
      text-align: center;
      transition: 300ms;

      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
}

.fourActorsContianer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;

  .averageCard {
    width: 100px;
    height: 100px;
    background-color: #1d1d1d;
    padding: 5px;
    border-radius: 6px;

    div {
      width: 100%;
      height: 100%;
      background-color: green;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        color: #fff;
        font-weight: 400;
      }
    }
  }

  .card {
    width: 100px;
    height: 100px;
    padding: 5px;
    background-color: #1d1d1d;
    border-radius: 6px;

    div {
      width: 90px;
      height: 90px;
      border-radius: 6px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    p {
      font-size: 12px;
      text-align: center;
      margin: 5px 0;
      line-height: 20px;
    }
  }
}


@media (max-width: 1320px) {
  .root {
    .container {
      width: 96%;
      .movieInfo {
        flex-direction: column;
        .image {
          width: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
          img {
            margin: 0 auto;
          }
        }
        .info {
          width: 100%;
        }
      }
    }
  }
  .movieInfoBarHidden {
    display: none;
  }
  .movieInfoBar {
    display: block;
  }
}

@media (max-width: 500px) {
  .root {
    .container {
      .movieInfo {
        .image {
          img {
            width: 300px;
          }
        }
        .info {
          p {
            font-size: 14px;
          }
        }
      }
    }
  }
  .movieInfoBar
    h1 {
      font-size: 30px;
    }
    .genres {
      grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 350px) {
  .root {
    .container {
      .movieInfo {
        .image {
          img {
            width: 250px;
          }
        }
      }
    }
  }
  .genres {
    grid-template-columns: 1fr !important;
  }
}


// actors media screen
@media (max-width: 650px) {
  .fourActorsContianer {
    .averageCard {
      width: 80px;
      height: 80px;
      h3 {
        font-size: 16px;
      }
    }

    .card {
      width: 80px;
      height: 80px;

      div {
        width: 70px;
        height: 70px;
      }
    }
  }
}

@media (max-width: 520px) {
  .fourActorsContianer {
    .averageCard {
      width: 70px;
      height: 70px;
    }

    .card {
      width: 70px;
      height: 70px;

      div {
        width: 60px;
        height: 60px;
      }
    }

    .card:last-child {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .fourActorsContianer {
    .averageCard {
      width: 60px;
      height: 60px;
    }

    .card {
      width: 60px;
      height: 60px;

      div {
        width: 50px;
        height: 50px;
      }
    }
  }
}