.root {
  width: 100%;
  height: 100vh;
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/a795ee10-8c6d-467c-8159-254be2b69013/5d80ee68-1215-4da7-873f-097cbf98dc8b/KG-en-20220912-popsignuptwoweeks-perspective_alpha_website_large.jpg) center / cover;
  display: flex;
  align-items: center;
  justify-content: center;
  form {
    width: 550px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 5px #1d1d1d;
    padding: 40px 60px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 ;
    color: #fff;
    p {
      margin-bottom: 10px;
      a {
        color: gray;
        text-decoration: none;
        &:hover {
          color: #000;
        }
      }
    }
    h2 {
      font-size: 25px;
      font-weight: 400;
      margin: 10px 0;
    }
  }
}