.root {
  width: 100%;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.863);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
  }
  .container {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 25px;
      font-weight: 500;
      color: #fff;
      margin: 20px 0;
      font-weight: 500;
    }
      
    input {
      padding: 10px;
      border: none;
      border-radius: 6px;
      font-size: 18px;
      outline: none;
    }
    .cardsContainer {
      width: 100%;
      height: 80vh;
      overflow: auto;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
      .card {
        margin: 20px 0;
        cursor: pointer;
        img {
          width: 100%;
          object-fit: cover;
        }
        p {
          color: #fff;
          margin: 5px 0;
          text-align: center;
        }
      }
    }
  }
}

.skeleton {
  margin: 20px 0;
  height: auto;
  div {
    background-color: #efefef;
    border-radius: 6px;
  }
  :nth-child(1) {
    height: calc(200px + 120 * (100vw / 1320));
    background-color: #efefef;
  }
  :nth-child(2) {
    height: 20px;
    background-color: #efefef;
    margin-top: 5px;
  }
}

@media (max-width: 1320px) {
  .root {
    .container {
      width: 96%;
    }
  }
}

@media (max-width: 1000px) {
  .root {
    .container {
      .cardsContainer {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}

@media (max-width: 700px) {
  .root {
    .container {
      .cardsContainer {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
@media (max-width: 500px) {
  .root {
    .container {
      .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
        p {
          font-size: 14px;
        }
      }
    }
  }
}