.fourActorsContianer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  .averageCard {
    width: 100px !important;
    height: 100px;
    background-color: #1d1d1d;
    padding: 5px;
    border-radius: 6px;
    div {
      width: 100% !important;
      height: 100% !important;
      background-color: green;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        color: #fff;
      }
    }
  }
  .card {
    width: 100px !important;
    height: 100px !important;
    padding: 5px;
    background-color: #1d1d1d;
    border-radius: 6px;
    div {
      width: 90px !important;
      height: 90px !important;
      border-radius: 6px;
      img {
        width: 100% !important;
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      font-size: 12px !important;
      text-align: center;
      margin: 5px 0;
      line-height: 20px !important;
    }
  }
}

@media (max-width: 650px) {
  .fourActorsContianer {
    .averageCard {
      width: 80px !important;
      height: 80px;
    }

    .card {
      width: 80px !important;
      height: 80px !important;

      div {
        width: 70px !important;
        height: 70px !important;
      }
    }
  }
}

@media (max-width: 650px) {
  .fourActorsContianer {
    .averageCard {
      width: 80px !important;
      height: 80px;
    }
      .card {
        width: 80px !important;
        height: 80px !important;
        div {
          width: 70px !important;
          height: 70px !important;
        }
      }
    }
}

@media (max-width: 520px) {
  .fourActorsContianer {
    .averageCard {
      width: 70px !important;
      height: 70px;
    }

    .card {
      width: 70px !important;
      height: 70px !important;

      div {
        width: 60px !important;
        height: 60px !important;
      }
    }
    .card:last-child {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .fourActorsContianer {
    .averageCard {
      width: 60px !important;
      height: 60px;
    }

    .card {
      width: 60px !important;
      height: 60px !important;

      div {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }
}