.root {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 10;
  svg {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    cursor: pointer;
  }
  .container {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 5px gray;
    background: #fff;
    h2 {
      font-size: 20px;
      font-weight: 400;
    }
  }
}