.root {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  .card {
    border-radius: 6px;
    img {
      width: 100%;
      border-radius: 6px;
      box-shadow: inset 0 0 50vh #000,
      0 0 100vh #000,
      0 0 200vh #000;
      &:hover {
        box-shadow: inset 0 0 #fff;
      }
    }
    p {
      color: #fff;
      text-align: center;
      margin: 5px 0;
    }
  }
}