.root {
  width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  .card {
    transform-style: preserve-3d;
    transform: perspective(1000px);
    border-radius: 6px;
    img {
      width: 100%;
      border-radius: 6px;
      &:hover {
        box-shadow: 0 0 0 5px #fff;
      }
    }
    p {
      color: #fff;
      text-align: center;
      margin: 5px 0;
    }
  }
}

.emptyFavorites {
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
  }
}


@media (max-width: 1320px) {
  .root {
    width: 96%;
  }
}

@media (max-width: 1000px) {
  .root {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 700px) {
  .root {
    grid-template-columns: repeat(3, 1fr);
    p {
      font-size: 14px;
    }
  }
}

@media (max-width: 450px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
  }
}