.root {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
  }
  .header {
    padding: 15px;
    display: flex;
    align-items: center;
    color: #fff;
    border: 1px solid rgb(18, 18, 18);
    border-radius: 4px;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
    }
    p {
      font-size: 18px;
      margin-left: 20px;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    .container {
      .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;
        border: 1px solid rgb(18, 18, 18);
        border-radius: 4px;
        color: #fff;
        margin: 5px 0;
        div {
          width: 10px;
          height: 10px;
          border-radius: 50%;
        }
        button {
          color: #fff;
          padding: 10px;
          background: none;
          border-radius: 4px;
          border: 1px solid #fff;
          font-size: 16px;
        }
      }

      .productsCard {
        display: flex;
        flex-direction: column;
        height: 200px;
        overflow: auto;
        background:rgb(18, 18, 18);
        div {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 10px 0;
          display: flex;
          padding: 20px;
          border: 1px solid rgb(18, 18, 18);
          background: #000;
          border-radius: 4px;
        }
      }
    }
  }
}