.root {
  width: 1300px;
  margin: 0 auto;
  h2 {
    text-align: center;
    font-weight: 500;
    margin: 20px 0;
    color: #fff;
  }
  .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}

@media (max-width: 1320px) {
  .root {
    width: 96%;
  }
}