.root {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  img {
    width: 100%;
  }
  h2 {
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
  }
  p {
    color: gray;
  }
  button {
    margin: 10px 0;
    padding: 15px;
    font-size: 16px;
    color: #fff;
    border: 1px solid rgb(18, 18, 18);
    border-radius: 4px;
    background: none;
    transition: 200ms;
    cursor: pointer;
    &:hover {
      color: #000;
      background: #fff;
    }
  }
}

@media (max-width: 1320px) {
  .root {
    width: 96%;
  }
}