.root {
  display: flex;
  height: 100%;
  flex-direction: column;
  h1 {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 400;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    overflow: auto;
    padding: 20px;
  }
  .btnContainer {
    margin-top: auto;
    border-top: 1px solid gainsboro;
    padding: 20px;
    button {
      width: 100%;
      padding: 15px;
      border-radius: 6px;
      background: #7a5acc;
      color: #fff;
      font-size: 18px;
      border: none;
      cursor: pointer;
      &:active {
        background: #4800ff;
      }
    }
  }
  h1 {
    margin: 0 20px;
    margin-top: 20px;

  }
  button {
    padding: 15px;
    border-radius: 6px;
    background: #7a5acc;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    &:active {
      background: #4800ff;
    }
  }
}

.roomCardsPageSkeleton {
  padding: 20px;
  div:nth-child(1) {
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #e1e9ee;
    box-shadow: 0 0 5px gainsboro;
    margin-bottom: 10px;
  }
  div:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    section {
      border-radius: 10px;
      background: #e1e9ee;
      box-shadow: 0 0 5px gainsboro;
      height: 200px;
    }
  }
}