.root {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #efefef;
  overflow: auto;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  svg {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  .container {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    background: #fff;
    display: flex;
    flex-direction: column;
    h1 {
      font-size: 25px;
      margin: 0 20px;
      margin-top: 20px;
      font-weight: 400;
    }
    h2 {
      font-size: 20px;
      margin: 20px;
      font-weight: 400;
    }
    .orderContainer {
      border-top: 1px solid gainsboro;
      padding: 20px;
      overflow: auto;
    }
    .checkContainer {
      padding: 20px;
      border-top: 1px solid gainsboro;
      h2 {
        color: #fff;
        font-weight: 500;
        margin-left: auto;
        margin: 0;
        background: #7a5acc;
        border-radius: 30px;
        padding: 10px;
        border-top: 1px solid gainsboro;
      }
    }
    .finishBtnContainer {
      padding: 20px;
      border-top: 1px solid gainsboro;
      margin-top: auto;
      button {
        width: 100%;
      }
    }
  }
}