.root {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #efefef;
  overflow: auto;
  top: 0;
  left: 0;
  display: flex;
  z-index: 12;
  flex-direction: column;

  svg {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .container {
    width: 1300px;
    height: 100%;
    margin: 0 auto;
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
    background: #fff;
    display: flex;
    flex-direction: column;
    .header {
      display: flex;
      align-items: center;
      padding: 15px;
      border: 1px solid gainsboro;
      box-shadow: 0 0 20px rgb(0 0 0 / 10%);
      margin: 10px;
      border-radius: 10px;
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
      p {
        font-size: 18px;
        margin-left: 10px;
      }
    }
    .reportsContainer {
      display: flex;
      flex-direction: column;
      .emptyText {
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #7a5acc;
        font-weight: bold;
        font-style: italic;
        
      }
      .report {
        display: flex;
        flex-direction: column;
        margin: 10px;
        .reportBlock {
          display: flex;
          align-items: center !important;
          justify-content: space-between;
          // border: 1px solid gainsboro;
          border-radius: 10px;
          padding: 1rem;
          box-shadow: 0 0 20px rgb(0 0 0 / 10%);
          h2 {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
          }
        }
        .btnContainer {
          display: flex;
          flex-direction: row;
        }
        .ordersContainer {
          padding: 15px;
          height: 300px;
          overflow: auto;
        }
      }
      
    }
    .saveBtn {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}